@charset "utf-8";
body {
    background-color: rgb(198, 211, 207);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-decoration: none;
}
main {
    width: 700px;
    border: 2px solid black;
    text-align: center;
    position: relative;
    border-radius: 10px 10px 10px; 
}
h1 {
    color: chartreuse;
}
h1#principal {
    text-align: center;
    background: brown;
    color: azure;
}
.aprendis {
    background-color: rgb(105, 184, 26);
    text-align: center;
}
h2 {
    color: darkcyan;
    font-weight: bold;
}
.basico {
    color: chartreuse;
    text-align: center;
}
.intermediario {
    color: gold;
    text-align: center;
}
.avancado {
    color: brown;
    text-align: center;
}
.destaque {
    background-color: rgba(175, 157, 112, 0.474);
    text-align: center;
}    