@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkkhaki;
    margin: 0;
}
header {
    color: aliceblue;
    padding: 10px;
    margin: 10px;
}
header > h1 {
    text-align: center;
    background-color: #a77d7d;
    color: brown;
    margin: 5px 250px 5px 250px;
}
#assuntos {
    height: 100px;
    width: 200px;
    background-color: aquamarine;
    color: #8d3131;
    text-align: center;
    margin: 0px 10px 0px 590px;
    box-shadow: 1px 2px 2px black;
}
#assuntos h1 {
    color: blue;
}
p {
   color: #e26868; 
}
h2 {
    color: #8d3131;
    text-align: center;
    box-shadow: 1px 1px 2px black;
}
.politica {
    background-color: rgb(142, 142, 171);
    color: rgb(44, 80, 8);
    padding: 10px;
    box-shadow: 2px 2px 2px black;
}
nav {
    background-color: rgb(189, 192, 195);
    padding: 5px;
    text-align: center;
    box-shadow: 2px 1px 7px 2px rgba(0, 0, 0, 0.372);
}
nav > a {
    text-decoration: none;
    color: rgb(247, 247, 249);
    font-weight: bold;
    margin-right: 30px;
    color: deepskyblue;

}
nav > a:hover {
    text-decoration: underline;
    
}
main {
    background-color: rgb(230, 226, 219);
    padding: 10px;
    margin: 10px;
}
article {
    background-color: rgb(236, 226, 226);
    padding: 2px;
}
article > aside {
    background-color: rgb(248, 249, 250);
    text-align: center;
}
.nossos {
    text-align: center;
    color: brown;
}
footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    margin: 0;
}
footer > p {
    margin: 0px;
}